.banner{
    background-image: url("/assets/img/copia.png");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    opacity: 0.7;
}


.menu{
    background-color: transparent;
    opacity: 0.9;

}

.banner2{
    background-image: url("/assets/img/img2.png");
    background-position: top center;
    background-size: cover;
    padding: 25%;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.banner2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: black;
    opacity: 0.7;
}